* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
/* titolo e logo della pagina*/
.intestazione {
    height: 100px;
    background-color: white;  
}

#img-logo{
    margin-left: 30px;
    height: 70px;
}

h1, #img-logo {
    line-height: 100px;
    vertical-align: middle;
    display: inline-block;
    font-size: 50px;
}

/* main */

.button, .contenitore-liste {
    width: 50%;
    background-color: white;
    margin: auto;
}

/* section button*/

.button {
    height: 60px;
    margin-top: 50px;
    padding-left: 50px;
    line-height: 60px;
    border-radius: 10px 10px 0px 0px;
}

#b-task, #b-section{
    padding: 5px 10px;
    border-radius: 5px;
    border-color: lightgray;
}

#b-task {
    color: white;
    background-color: #47ADF1;
}

#b-section{
    color: lightgray;
    background-color: white;
}

/* section list */

.contenitore-liste {
    line-height: 40px;
    margin-top: 5px;
    padding: 50px;
    border-radius: 0px 0px 10px 10px;
}

.a, .b {
    padding-bottom: 25px;
}

h2 {
    display: inline-block;
}

.check, .cross {
    line-height: 20px;
    display: inline-block;
    text-align: center;
    width: 20px;
    height: 20px;
    border: 1px solid;
    border-radius: 50%;
}

.check{
    color: #75C8B5;
}

.cross{
    color: #EB746F;
}

mark {
    color: white;
    font-size: 11px;
    padding: 8px 10px;
    border-radius: 10px;
}

.editorial {
    background-color: #45ABEA;
    
}

.q1-goals {
    background-color: #9C72E4;
}

.recruiting {
    background-color: #64C0A9;
}

.mobile {
    background-color: #F29E33;
}

.website {
    background-color: #D863A1;
}

.sales {
    background-color: #B0C926;
}
