* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #F6F8F9;
    font-family:system-ui, 'Segoe UI', 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* header */
/* titolo e logo della pagina*/
.intestazione {
    height: 150px;
    background-color: white;  
}

#img-logo{
    margin-left: 30px;
    height: 80px;
}

h1, #img-logo {
    line-height: 150px;
    vertical-align: middle;
    display: inline-block;
    font-size: 70px;
}

/* main */

.button, .contenitore-liste {
    width: 75%;
    background-color: white;
    margin: auto;
}

/* section button*/

.button {
    height: 70px;
    margin-top: 50px;
    padding-left: 50px;
    line-height: 70px;
    border-radius: 10px 10px 0px 0px;
}

#b-task, #b-section{
    padding: 5px 10px;
    border-radius: 5px;
    border-color: lightgray;
}

#b-task {
    color: white;
    background-color: #47ADF1;
}

#b-section{
    color: lightgray;
    background-color: white;
}

/* section list */

.contenitore-liste {
    line-height: 40px;
    margin-top: 5px;
    padding: 50px;
}

.a, .b {
    padding-bottom: 25px;
}

h2 {
    display: inline-block;
}